@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300&display=swap");

html {
	-webkit-tap-highlight-color: transparent;
}

html,
body {
	height: 100%;
}

body {
	@apply antialiased
		dark:bg-black
		dark:text-white
		sm:subpixel-antialiased;
}

img {
	@apply inline-block
		select-none
		outline-none;
}

*,
*:before,
*:after {
	--tw-ring-inset: /*!*/ /*!*/ ;
}

.turbolinks-progress-bar {
	height: 4px;
	background-color: #fa5252;
}
